.level {
    height: 35vh;
    margin-right: 5%;
    margin-top: 50px;
}
::ng-deep .mat-slider-disabled .mat-slider-thumb,.mat-slider-disabled .mat-slider-track-background,.mat-slider-disabled .mat-slider-track-fill{
    background-color:#ff4081;
}