.slider {
  height: 450px;
  margin-right: 20px;
}

.mat-slider-thumb {
  border-radius: 0 !important;
  right: -20px !important;
  width: 40px !important;
  height: 20px !important;
  bottom: -5px !important;
  transform: scale(.7) !important;
}
