<div class="loading" *ngIf="!mobileNodes || !fixNode">
  <h2>{{ 'CONSOLE.LOADING' | translate }}</h2>
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>

<mat-grid-list class="console-grid" [cols]="cols | async" *ngIf="mobileNodes && fixNode">
  <mat-grid-tile [colspan]="1">
    <mat-card id="fix-card" class="console-output-card mat-elevation-z6">
      <mat-card-content>
        <mat-toolbar color="accent">
          <span>{{ 'CONSOLE.FIX_NODE' | translate }}</span>
        </mat-toolbar>
        <mat-grid-list class="grid" cols="3">
          <mat-grid-tile [colspan]="1" [rowspan]="2">
            <h2 class="parameter-title">{{ 'CONSOLE.VOLUME' | translate }}</h2>
            <ng-container *ngIf="!limitVolume"> 
                <app-console-slider [value]="fixNode.lastVolumeValue" (sliderChange)="onSliderChange(fixNode, 'volume', $event)"></app-console-slider>
            </ng-container>
            <ng-container *ngIf="limitVolume"> 
                <app-console-slider [value]="fixNode.volumeSlider" (sliderChange)="onSliderChange(fixNode, 'volume', $event)"></app-console-slider>
            </ng-container>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="2">
            <h2 class="parameter-title">{{ 'CONSOLE.EQUALIZER' | translate }}</h2>
            <app-console-slider (sliderChange)="onSliderChange(fixNode, 'low', $event)"></app-console-slider>
            <app-console-slider (sliderChange)="onSliderChange(fixNode, 'med', $event)"></app-console-slider>
            <app-console-slider (sliderChange)="onSliderChange(fixNode, 'high', $event)"></app-console-slider>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="2">
            <h2 class="parameter-title">{{ 'CONSOLE.LEVELS' | translate }}</h2>
            <mat-progress-bar class="level" [value]="fixNode.volume"></mat-progress-bar>
            <mat-progress-bar class="level" [value]="fixNode.low"></mat-progress-bar>
            <mat-progress-bar class="level" [value]="fixNode.med"></mat-progress-bar>
            <mat-progress-bar class="level" [value]="fixNode.high"></mat-progress-bar>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list class="grid-eq-labels" cols="3" rowHeight="20">
          <mat-grid-tile [colspan]="1">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <h4 class="eq-label">{{ 'CONSOLE.LOW' | translate }}</h4>
            <h4 class="eq-label">{{ 'CONSOLE.MED' | translate }}</h4>
            <h4 class="eq-label">{{ 'CONSOLE.HIGH' | translate }}</h4>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <h4 class="eq-label">{{ 'CONSOLE.VOLUME' | translate }}</h4>
            <h4 class="eq-label">{{ 'CONSOLE.LOW' | translate }}</h4>
            <h4 class="eq-label">{{ 'CONSOLE.MED' | translate }}</h4>
            <h4 class="eq-label">{{ 'CONSOLE.HIGH' | translate }}</h4>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1">
    <app-map [mobileNodes]="mobileNodes" [fixNode]="fixNode" [(selectedMobileNodeIndex)]="selectedTabIndex" (onMarkerClicked)="onMarkerClicked($event)"></app-map>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1">
    <mat-card id="mobile-card" class="console-output-card mat-elevation-z6">
        <mat-toolbar color="accent">
          <span>{{ 'CONSOLE.MOBILE_NODES' | translate }}</span>
        </mat-toolbar>
      <mat-card-content>
        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectChange)="onSelectedTabChanged($event)">
          <span *ngFor="let mobileNode of mobileNodes">
            <mat-tab label="{{ mobileNode.name | translate }}">
              <mat-grid-list cols="3">
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <h2 class="parameter-title">{{ 'CONSOLE.VOLUME' | translate }}</h2>
                  <ng-container *ngIf="!mobileNode.autoAdjust">
                    <ng-container *ngIf="!limitVolume"> 
                        <app-console-slider [value]="mobileNode.lastVolumeValue" (sliderChange)="onSliderChange(mobileNode, 'volume', $event)"></app-console-slider>
                    </ng-container>
                    <ng-container *ngIf="limitVolume">
                        <app-console-slider [value]="mobileNode.volumeSlider" (sliderChange)="onSliderChange(mobileNode, 'volume', $event)"></app-console-slider>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="mobileNode.autoAdjust">
                    <app-console-slider [disabled]="true" [value]="mobileNode.volumeSlider" (sliderChange)="onSliderChange(mobileNode, 'volume', $event)"></app-console-slider>
                  </ng-container>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <h2 class="parameter-title">{{ 'CONSOLE.EQUALIZER' | translate }}</h2>
                  <ng-container *ngIf="!mobileNode.autoAdjust">
                    <app-console-slider [value]="mobileNode.lastLowValue" (sliderChange)="onSliderChange(mobileNode, 'low', $event)"></app-console-slider>
                    <app-console-slider [value]="mobileNode.lastMedValue" (sliderChange)="onSliderChange(mobileNode, 'med', $event)"></app-console-slider>
                    <app-console-slider [value]="mobileNode.lastHighValue" (sliderChange)="onSliderChange(mobileNode, 'high', $event)"></app-console-slider>
                  </ng-container>
                  <ng-container *ngIf="mobileNode.autoAdjust">
                    <app-console-slider [disabled]="true" [value]="mobileNode.lowSlider" (sliderChange)="onSliderChange(mobileNode, 'low', $event)"></app-console-slider>
                    <app-console-slider [disabled]="true" [value]="mobileNode.medSlider" (sliderChange)="onSliderChange(mobileNode, 'med', $event)"></app-console-slider>
                    <app-console-slider [disabled]="true" [value]="mobileNode.highSlider" (sliderChange)="onSliderChange(mobileNode, 'high', $event)"></app-console-slider>
                  </ng-container>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <h2 class="parameter-title">{{ 'CONSOLE.LEVELS' | translate }}</h2>
                  <mat-progress-bar class="level" [value]="mobileNode.volume"></mat-progress-bar>
                  <mat-progress-bar class="level" [value]="mobileNode.low"></mat-progress-bar>
                  <mat-progress-bar class="level" [value]="mobileNode.med"></mat-progress-bar>
                  <mat-progress-bar class="level" [value]="mobileNode.high"></mat-progress-bar>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list class="grid-eq-labels" cols="3" rowHeight="20px">
                <mat-grid-tile [colspan]="1">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <h4 class="eq-label">{{ 'CONSOLE.LOW' | translate }}</h4>
                  <h4 class="eq-label">{{ 'CONSOLE.MED' | translate }}</h4>
                  <h4 class="eq-label">{{ 'CONSOLE.HIGH' | translate }}</h4>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <h4 class="eq-label">{{ 'CONSOLE.VOLUME' | translate }}</h4>
                  <h4 class="eq-label">{{ 'CONSOLE.LOW' | translate }}</h4>
                  <h4 class="eq-label">{{ 'CONSOLE.MED' | translate }}</h4>
                  <h4 class="eq-label">{{ 'CONSOLE.HIGH' | translate }}</h4>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="3" rowHeight="50px">
                <mat-grid-tile [colspan]="3">
                  <div class="automatic-adjustment">
                    <mat-checkbox [(ngModel)]="mobileNode.autoAdjust" (change)="onAutoAdjustChange(mobileNode, $event)">{{ 'CONSOLE.AUTOMATIC_ADJUSTMENT' | translate }}</mat-checkbox>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-tab>
          </span>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
