.console-grid {
  margin: 1%;
}

/deep/ .mat-figure {
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
}

.console-output-card {
  width: 90%;
}

/deep/ .mat-tab-body {
  padding: 10px;
}

.automatic-adjustment {
  float: right;
}

.parameter-title {
  position: absolute;
  top: 0;
}
