.console-output-card {
  width: 90%;
}

.automatic-adjustment {
  float: right;
}

.parameter-title {
  position: absolute;
  top: 0;
}

.level {
  height: 15px;
  transform: rotate(-90deg);
  width: 800px;
  margin: 0 -10vh;
}

.eq-label {
  margin: 0 5%;
}
