.console-output-card {
  width: 90%;
}

.automatic-adjustment {
  position: absolute;
  right: 0;
}

.parameter-title {
  position: absolute;
  top: 0;
}

.level {
  height: 15px;
  transform: rotate(-90deg);
  width: 800px;
  margin: 0 -12vh;
}

.eq-label {
  margin: 0 5%;
}

.grid-eq-labels {
  margin-top: -15px;
}
