<mat-toolbar color="primary">
  <span>{{ 'DASHBOARD.TITLE' | translate }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="changeLanguage()">
    <mat-icon>language</mat-icon>
    {{nextLanguage}}
  </button>
</mat-toolbar>
<div class="volume-limiter" *ngIf="audioNodesObservableResponse && audioNodesObservableResponse.length">
  <mat-checkbox [(ngModel)]="limitVolume" (change)="onLimitVolumeChange()">{{ 'DASHBOARD.LIMIT_VOLUME' | translate }}</mat-checkbox>
</div>
<app-console [audioNodes]="audioNodesObservableResponse"></app-console>
